{% extends "account/body.html" %}
{% block body %}
<div class="container">
    {% for content in files %}
        Имя файла: {{ content.name }}<br>
        {% if content.is_image %}
            Файл: <img src="{{ content.file_url }}" alt="mdo" width="32" height="32"><br>
        {% endif %}
        <a download="{{ content.pure_name }}" href="load/{{ content.id }}/" class="btn btn-success btn-sm">Скачать файл</a>
        <a href="delete/{{ content.id }}/" class="btn btn-danger btn-sm">Удалить файл</a><br><br>
    {% endfor %}
    <form action="/account/files/" enctype="multipart/form-data" method="post" id="f_create">
        {% csrf_token %}
        <label for="name" class="form-label">Введите имя файла</label>
        <input type="text" class="form-control" id="name" name="name" required>
        <div class="invalid-feedback">Введите имя файла.</div>
        <input class="form-control" type="file" id="file" name="new_file" required>
        <button id="b_f_create" form="f_create" class="w-100 btn btn-lg btn-primary" type="submit">Сохранить файл
        </button>
    </form>
</div>
{% endblock %}
