{% extends "account/body.html" %}
{% block body %}
    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
            <th scope="col"></th>
            <th scope="col"></th>
            </thead>
            <tbody>
            <tr>
                <td>Имя:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Фамилия:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Отчество:</td>
                <td>{{ user.middle_name }}</td>
            </tr>
            <tr>
                <td>Дата рождения:</td>
                <td>{{ user.birthday }}</td>
            </tr>
            <tr>
                <td>Пол:</td>
                <td>{{ user.sex }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
