{% extends "account/body.html" %}
{% block friends_add %}
<a href="add/" class="btn btn-primary">Добавить дуга</a>
{% endblock %}
{% block body %}
<div class="container">
    {% for friend in friends %}
        {{ friend.get_full_name }}<br>
        <a href="message/{{ friend.id }}/" class="btn btn-primary btn-sm">Отправить сообщение</a>
        <a href="wall/{{ friend.id }}/" class="btn btn-warning btn-sm">Посмотреть стену</a>
        <a href="delete/{{ friend.id }}/" class="btn btn-danger btn-sm">Удалить из друзей</a><br><br>
    {% endfor %}
</div>
{% endblock %}
