{% extends "account/body.html" %}
{% block body %}
    <div class="container">
        <h3>Стена пользователя: {{ friend.get_full_name }}</h3>
        {% for content in wall %}
            <p class="border text-break">
                <small class="text-muted">Название записи:</small>
                <span class="fst-italic fw-bold">{{ content.title }}</span><br>
                <small class="text-muted">Дата записи:</small>
                <u>{{ content.message_date }}</u><br>
                <small class="text-muted">Текст записи:</small>
                {{ content.text_message }}
            </p>
        {% endfor %}
    </div>
{% endblock %}
